/* ChangeMobile.css */
.customer-update-container-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background for the page */
    color: white;
    font-family: Arial, sans-serif;
}

.customer-update-title-password {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #ff4081; /* A highlight color for the heading */
}

.customer-update-card-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #222; /* Dark background for the form */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.customer-update-label-password {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #ff4081; /* Label color to match the theme */
}

.customer-update-input-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* White input background */
    color: #000; /* Black text color */
}

.customer-update-input-password:focus {
    outline: none;
    border: 2px solid #ff4081; /* Highlight on focus */
}

.customer-update-button-password {
    padding: 10px 20px;
    background-color: #ff4081; /* Same theme color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.customer-update-button-password:hover {
    background-color: #ff1a73; /* Darker shade on hover */
}

.customer-update-message {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.customer-update-message-error-password {
    color: #ff4d4d; /* Red for error messages */
}

.customer-update-message-success-password {
    color: #4caf50; /* Green for success messages */
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.customer-update-input-password {
    width: 100%;
    padding-right: 40px; /* Leave space for the eye icon */
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: black;
    margin-bottom: 20px;
}
