.movies-page{
    /* padding: 20px; */
    background-color: #141414;
    color: white;
    font-family: 'Arial', sans-serif;
}
/* .h1-web {
    text-align: center;
    font-size: 2.5rem;
    color: #e5e5e5;
    margin-bottom: 30px;
  }
  .h3-web {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 15px;
  } */